body {
  background-image: url("../images/河002.jpg");
}

main {
  margin-left: 3%;
  margin-right: 3%;
}

h1 {
  position: relative;
  left: 5%;
  text-align: center;

  color: #c266ff;
}
h2 {
  text-align: center;
  color: #c266ff;
}
p {
  text-indent: 32px;
  font-size: 20px;
  line-height: 32px;
  color: #c266ff;
}
/*img {
  position: absolute;
  left: 50%;
  margin-left: -181px;
  width: -10%;
}*/

/*未完待续样式*/
p.aa {
  text-align: right;
  margin-right: 3%;
}

/*bgm图标*/
/*bgm*/
audio {
  display: none;
}
img {
  position: relative;
  left: 40%;
  margin-right: 5%;
  height: 2%;
  width: 3%;
  opacity: 0.4;
  animation: breathe 3s linear infinite forwards;
}
@keyframes breathe {
  0% {
    box-shadow: 0px 13px 30px -10px rgba(0, 0, 0, 0.8);
    -webkit-transform: rotate3d(0, 0, 0, 5deg) translate3d(0, 0, 0);
    transform: rotate3d(0, 0, 0, 5deg) translate3d(0, 0, 0);
    opacity: 0.4;
  }
  50% {
    box-shadow: 0px 60px 30px -30px rgba(0, 0, 0, 0.3);
    -webkit-transform: rotate3d(-30, 0, -10, 2deg) translate3d(2px, -2px, 30px);
    transform: rotate3d(-30, 0, -10, 2deg) translate3d(2px, -2px, 30px);
    opacity: 0.7;
  }
  100% {
    box-shadow: 0px 13px 30px -10px rgba(0, 0, 0, 0.8);
    -webkit-transform: rotate3d(0, 0, 0, 5deg) translate3d(0, 0, 0);
    transform: rotate3d(0, 0, 0, 5deg) translate3d(0, 0, 0);
    opacity: 0.4;
  }
}
/*回退按钮*/
a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  position: relative;
  padding: 10px 30px;
  margin: 0 45px;
  color: #9900ff;
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
  transition: 0.5s;
  overflow: hidden;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0003);
}
a:hover {
  background: #9900ff;
  color: #111;
  box-shadow: 0 0 50px#9900ff;
  transition-delay: 0.5s;
}

a:nth-child(1) {
  filter: hue-rotate(115deg);
}
a:nth-child(3) {
  filter: hue-rotate(270deg);
}

a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-top: 2px solid#9900ff;
  border-left: 2px solid#9900ff;
  transition: 0.5s;
  transition-delay: 0.5s;
}
a:hover::before {
  width: 100%;
  height: 100%;
  transition-delay: 0s;
}
a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid#9900ff;
  border-right: 2px solid#9900ff;
  transition: 0.5s;
  transition-delay: 0.5s;
}

a:hover::after {
  width: 100%;
  height: 100%;
  transition-delay: 0s;
}

/*发光标题*/

.b {
  font-size: 800%;
  font-weight: 500;
  color: white;
  text-shadow: 5px 5px 5p#002699;
  pointer-events: none;
  animation: font 3s linear 1;
  animation-fill-mode: forwards;
  position: absolute;
  top: 40%;
  left: 40%;
}

@keyframes font {
  0% {
    opacity: 0;
    scale: (0);
  }
  50% {
    opacity: 1;
    scale: (1);
    color: rgb(255, 255, 255);
    text-shadow: 0 0 5px#002699, 0 0 15px#002699, 0 0 25px#002699,
      0 0 50px#002699, 0 0 80px#002699, 0 0 120px#002699, 0 0 160px#002699,
      0 0 200px#002699;
  }
  90% {
    transform: translate(0) scale(2);
    opacity: 0;
  }
  100% {
    transform: translate(0) scale(2);
    opacity: 0;
  }
}

/*发光概要*/

.c {
  font-size: 600%;
  font-weight: 500;
  color: white;
  text-shadow: 5px 5px 5p#002699;
  pointer-events: none;
  color: #fff;
  position: absolute;
  left: 28%;
  top: 25%;
  opacity: 0;
  /* transform: translate(-150px, 0) scale(.5);*/
  animation: leftRight 7s forwards;
  animation-delay: 3s;
}

@keyframes leftRight {
  30% {
    transform: translate(30px, 0) scale(0.7);
    opacity: 1;
    color: #fff;
  }
  40% {
    color: #cc00ff;
  }
  90% {
    transform: translate(0) scale(2);
    opacity: 0;
  }
  100% {
    transform: translate(0) scale(2);
    opacity: 0;
  }
}
