* {
    margin     : 0;
    padding    : 0;
    font-family: 'Poppins', sans-serif
}


section {
    position        : relative;
    width           : 100%;
    height          : 100vh;
    overflow        : hidden;
    background-image: url(../images/深海008.webp);
    background-size : 100% 100%;
    /*background    : #111;  */
    display         : flex;
    justify-content : center;
    align-items     : center;
}

section h2 {
    font-size: 10em;
    color    : #333;
}

section span {
    position      : absolute;
    bottom        : 50px;
    background    : transparent;
    border-radius : 50%;
    pointer-events: none;
    box-shadow    : inset 0 0 10px rgba(255, 255, 255, 0.5);
    animation     : animate 10s linear infinite;
}

section span:before {
    content      : "";
    position     : absolute;
    width        : 100%;
    height       : 100%;
    transform    : scale(0.25) translate(-70%, -70%);
    background   : radial-gradient(#fff, transparent);
    border-radius: 50%;
}

@keyframes animate {
    0% {
        transform: translateY(0%);
        opacity  : 1;
    }

    99% {
        opacity: 1;
    }

    100% {
        transform: translateY(-2000%);
        opacity  : 0;
    }
}

/*bgm*/
audio {
    display: none;
}

/*标题*/

.b {
    font-size          : 400%;
    font-weight        : 30%;
    color              : white;
    text-shadow        : 5px 5px 5px blue;
    animation          : font 4s linear 1;
    animation-fill-mode: forwards;
}

@keyframes font {
    0% {
        opacity: 0;
        scale  : (0);
    }

    50% {
        opacity: 1;
        scale  : (1);
    }

    100% {
        opacity: 0;
        scale  : (0);
    }
}

/*图标*/
.lb{
    position:absolute;
    bottom: 93%;
    left:90% ;
}

.lb a{
    font-size:150%;
    color:#004080;
    width:100%;
    height:100%;
    transition: .5s linear;
    position: relative;
    text-align:center;
}

.lb a::before, .lb a::after{
    content:"";
    position: absolute;
    box-sizing: border-box;
    width:100%;
    height:100%;
    left:0;
    top:0;
    transition: .5s linear;
}