body {
  background-image: url("../images/星001.jpg");
}

.content {
  max-width: 640px;
  margin: 0 auto;
  text-align: center;
}

main {
  margin-left: 10%;
  margin-right: 0%;
}

h1 {
  position: relative;
  left: 11%;
  text-align: center;
  color: white;
}
h2 {
  text-align: center;
  color: white;
}
p {
  text-indent: 32px;
  font-size: 20px;
  line-height: 32px;
  color: white;
}

/*未完待续样式*/
.aa {
  text-align: right;
  margin-right: 3%;
}
/*bgm图标*/
/*bgm*/
audio {
  display: none;
}
img {
  position: relative;
  left: 20%;
  height: 10%;
  width: 10%;
  opacity: 0.4;
  animation: breathe 3s linear infinite forwards;
}
@keyframes breathe {
  0% {
    box-shadow: 0px 13px 30px -10px rgba(0, 0, 0, 0.8);
    -webkit-transform: rotate3d(0, 0, 0, 5deg) translate3d(0, 0, 0);
    transform: rotate3d(0, 0, 0, 5deg) translate3d(0, 0, 0);
    opacity: 0.4;
  }
  50% {
    box-shadow: 0px 60px 30px -30px rgba(0, 0, 0, 0.3);
    -webkit-transform: rotate3d(-30, 0, -10, 2deg) translate3d(2px, -2px, 30px);
    transform: rotate3d(-30, 0, -10, 2deg) translate3d(2px, -2px, 30px);
    opacity: 0.7;
  }
  100% {
    box-shadow: 0px 13px 30px -10px rgba(0, 0, 0, 0.8);
    -webkit-transform: rotate3d(0, 0, 0, 5deg) translate3d(0, 0, 0);
    transform: rotate3d(0, 0, 0, 5deg) translate3d(0, 0, 0);
    opacity: 0.4;
  }
}
/*回退按钮*/
a {
  display: none;
  font-style: italic;
  position: relative;
  padding: 10px 30px;
  color: #21ebff;
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
  transition: 0.5s;
  overflow: hidden;
  -webkit-box-reflect: below 1px
    linear-gradient(transparent, rgba(240, 237, 237, 0.2));
}
a:active {
  box-shadow: inset 0 5px 10px #004080, inset 0 -5px 10px #004080;
}

/*发光标题*/

.b {
  font-size: 400%;
  font-weight: 500;
  color: white;
  text-shadow: 5px 5px 5p#002699;
  pointer-events: none;
  animation: font 3s linear 1;
  animation-fill-mode: forwards;
  position: absolute;
  top: 45%;
  left: 29%;
}

@keyframes font {
  0% {
    opacity: 0;
    scale: (0);
  }
  50% {
    opacity: 1;
    scale: (1);
    color: rgb(255, 255, 255);
    text-shadow: 0 0 5px#002699, 0 0 15px#002699, 0 0 25px#002699,
      0 0 50px#002699, 0 0 80px#002699, 0 0 120px#002699, 0 0 160px#002699,
      0 0 200px#002699;
  }
  90% {
    transform: translate(0) scale(2);
    opacity: 0;
  }
  100% {
    transform: translate(0) scale(2);
    opacity: 0;
  }
}

/*发光概要*/

.c {
  font-size: 300%;
  font-weight: 500;
  color: white;
  text-shadow: 5px 5px 5p#002699;
  pointer-events: none;
  color: #fff;
  position: fixed;
  left: -5%;
  top: 30%;
  opacity: 0;
  /* transform: translate(-150px, 0) scale(.5);*/
  animation: leftRight 7s forwards;
  animation-delay: 3s;
}

@keyframes leftRight {
  30% {
    transform: translate(30px, 0) scale(0.7);
    opacity: 1;
    color: #0099ff;
  }
  40% {
    color: #fff;
  }
  90% {
    transform: translate(0) scale(2);
    opacity: 0;
  }
  100% {
    transform: translate(0) scale(2);
    opacity: 0;
  }
}
